#contact-form label {
	color: #3a4a4d; 
	font-size: 1em;
	font-weight: bold;
	text-align: left;
	margin: 10px auto 5px 0; 
	display: block; 
	letter-spacing: 0.1em; 
}
#contact-form {
	font-size: 1em; 
	width: 100%; 
	margin-top: 30px;
	margin-bottom: 15px;
}
::placeholder { 
	color: #3a4a4d; 
	opacity: 1; 
}
.cf_input { 
	font-size: 1.2em; 
	padding: 6px 10px; 
}
.cf_textarea { 
	color: #3a4a4d; 
	font-size: 1.2em; 
	padding: 6px 10px; 
	border-color: #bdbbcd; 
	height: 200px; 
	width: 100%;
}

#contact-form input[type="checkbox"]:focus, 
#contact-form input[type="email"]:focus, 
#contact-form input[type="radio"]:focus, 
#contact-form input[type="tel"]:focus, 
#contact-form input[type="text"]:focus, 
#contact-form textarea:focus{ 
	box-shadow: 0 0 6px rgba(33,33,33,.2); 
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background: #cacccc;
	outline: none;
} 

#contact-form input[type="color"], 
#contact-form input[type="email"], 
#contact-form input[type="month"],
#contact-form input[type="number"],
#contact-form input[type="text"],
#contact-form  textarea {
	box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #cacccc;
    background-color: #f9fbfb;
    color: #3a4a4d;
   	width: 100%;
   	margin-bottom: 10px;
   	font-family: 'Montserrat', sans-serif;
}
.cf_captcha {
	margin:10px auto;
}
.g-recaptcha {
	text-align: center;
	display: inline-block;
}
.cf_btn, .cf_btn:visited {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1.3rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    letter-spacing: 2px;
    color: #fff;
    background: #f74e6f;
    border: 1px solid #f74e6f;
}
.cf_btn:hover, .cf_btn:focus {
	background: #e73e5f;
	border-color: #e73e5f;
}